<!DOCTYPE html>
<html>
    <head>
        <title>Benno's Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">LBenno's Super Cool Blog</a></h1>
        </header>

        <article>
            <time>published: 03.10.2023</time>
            <h2><a href="">My first Blog Post</a></h2>
            <p>My first articl following the DjangoGirls tutorial.  Very cool... check out this beautiful white page</p>
        </article>

        <article>
            <time>published: 03.10.2023</time>
            <h2><a href="">A second post OMG!</a></h2>
            <p>Yes it's true; I did it a second time.  What a smartypants I am.  My mate Mic will be so proud :-&#41;  And did you know that smiley face was created using an escape character... not an exit character.... that's only for German rooms. #insidejoke</p>
        </article>
    </body>
</html>